<html>
<head>
</head>
<body>
	<table style="width: 450px; height: 450px; margin-left: auto; margin-right: auto;" border="1" cellspacing="1" cellpadding="1">
	    <tbody>
	    <tr style="height: 150px;">
	        <td style="width: 150px; height: 150px;" class="crop0">
			<img style="display:block;" width="100%" height="100%" src="{{image_urls[0][0]}}"/></td>
	        <td style="width: 150px; height: 150px;" class="crop1">
			<img style="display:block;" width="100%" height="100%" src="{{image_urls[1][0]}}"/></td>
	        <td style="width: 150px; height: 150px;" class="crop2">
			<img style="display:block;" width="100%" height="100%" src="{{image_urls[2][0]}}"/></td>
	    </tr>
	    <tr style="height: 150px;">
	        <td style="width: 150px; height: 150px;" class="crop3">
			<img style="display:block;" width="100%" height="100%" src="{{image_urls[3][0]}}"/></td>
	        <td style="width: 150px; height: 150px;" class="crop">
			<img src="{{myimage}}"/></td>
	        <td style="width: 150px; height: 150px;" class="crop4">
			<img style="display:block;" width="100%" height="100%" src="{{image_urls[4][0]}}"/></td>
	    </tr>
	    <tr style="height: 150px;">
	        <td style="width: 150px; height: 150px;" class="crop5">
			<img style="display:block;" width="100%" height="100%" src="{{image_urls[5][0]}}"/></td>
	        <td style="width: 150px; height: 150px;" class="crop6">
			<img style="display:block;" width="100%" height="100%" src="{{image_urls[6][0]}}"/></td>
	        <td style="width: 150px; height: 150px;" class="crop7">
			<img style="display:block;" width="100%" height="100%" src="{{image_urls[7][0]}}"/></td>
	    </tr>
	    </tbody>
	</table>
</body>
</html>
